
        body {
            font-family: Arial, sans-serif;
            background-color: #841c1c ;
        }
        .container {
            max-width: 1000px;
            margin: 0 auto;
            margin-top: 100px;
            height: auto;
            padding: 40px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        .organisme-name {
            font-size: 20px; 
        }
        
        .dashboard-heading {
            text-align: center;
            margin-bottom: 20px;
            
        }

        .dashboard-heading h2 {
            font-size: 24px;
            color: #333;
        }

        .menu {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
            color: white;
            font-size: 1.2rem;
        }

        .menu ul li {
            display: inline-block;
            margin-left: 10px;
        }

        .menu ul li a {
            color: #333;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .menu ul li a:hover {
            color: #FFD700;
        }

        .dashboard-content {
            margin-bottom: 20px;
        }

        .dashboard-content p {
            color: #555;
        }

        .dashboard-content table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
        }

        .dashboard-content table th,
        .dashboard-content table td {
            padding: 8px;
            border: 1px solid #ccc;
            text-align: left;
            width: auto;
        }

        .dashboard-content table th {
            background-color: #f0f0f0;
            font-weight: bold;
            width: auto;
        }
        
        .dashboard-content table td {
            background-color: #fff;
            width: auto;
        }

        /* Styles pour le formulaire */
        .search-form {
            margin-bottom: 20px;
        }

        .search-form input[type="text"] {
            width: 300px;
            padding: 8px;
            font-size: 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
        }

        .search-form input[type="submit"] {
            padding: 8px 16px;
            font-size: 16px;
            border-radius: 4px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        .lien{
            display: flex;
            gap: 10px;
        }
        .lien button {
        background-color: #DF3131;
        color: #fff;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        }
        .lien a{
            text-decoration: none;
        }
        /* Ajoutez d'autres styles personnalisés selon vos besoins */

        /* Styles pour les petits écrans */
        @media screen and (max-width: 600px) {
            .container {
                max-width: 100%;
                margin-top: 50px;
                height: auto;
                padding: 10px;
            }

            .dashboard-heading h2 {
                font-size: 20px;
            }

            .menu {
                position: static;
                margin-top: 20px;
                text-align: center;
            }

            .search-form input[type="text"] {
                width: 100%;
            }
        }