body {
    background-color: #DF3131;
    background-color: #841c1c;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: #ffffff20;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 50vw;
    text-align: center;
    position: relative;
}
h2 {
    margin-bottom: 20px;
}
form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.form-column {
    flex-basis: calc(50% - 10px);
}
label {
    font-weight: bold;
    font-size: 14px;
}
input,
select,
button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 15px;
}
input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}